.reservation-container {
    max-width: 1024px;
    margin-top: -4rem;
    position: relative;
    z-index: 100;
}
.reservation-form {
    background-color: var(--body-color);
    border-bottom: 3px solid var(--first-color);
    padding: 1.25rem;
    border-radius: 3rem 3rem 3rem 0;
    box-shadow: 0 8px 32px hsla(var(--hue), 90%, 8%, 0.1);
    row-gap: 1rem;
}

.reservation-group {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    &:last-child {
        grid-template-columns: repeat(3, 1fr) max-content;
    }
}
.reservation-title {
    font-size: var(--large-font-size);
    margin-bottom: 0.5rem;
}
.reservation-div{
    border: 1px solid var(--border-color);
    border-radius: 2rem;
    position: relative;
}
.reservation-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--first-color);
    font-size: 1rem;
}
.reservation-input {
    width: 100%;
    padding: 0.75rem 1.25rem 0.75rem 3rem;
}