.gallery {
    padding-bottom: 0;
}
.gallery-container {
    column-count: 3;
    column-gap: 1.5rem;
}
.gallery-item {
  border-radius: 3rem 3rem 3rem 0;
  overflow: hidden;
  margin-bottom: 1.5rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0.5rem;
    background-color: var(--first-color);
    border-radius: inherit;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }

  &:hover {
    &::before {
      opacity: 0.9;
      visibility: visible;
    }

    .gallery-link {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .gallery-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--white-color);
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  }
}